body{
	background-color: white;
	font-family: helvetica, sans-serif;
	font-weight: 300;
	margin: 0;
	color: #464646;
}
h1{
	font-size: 2.5em;
	font-weight: 300;
}
h2{
	font-size: 2em;
	text-align: center;
	font-weight: 100;
}
h3{
	font-size: 1.5em;
	font-weight: 300;
	line-height: 1.5em;
	margin-bottom: 0;
}
p{
	line-height: 1.5em;
	font-weight: 100;
	margin-top: 0;
}
nav{
	position: fixed;
	width: 100%;
	display: block;
	background-color: white;
	margin: 0;
	padding: 20px;
}
.logo{
	width: 100px;
	padding-left: 20px;
}
ul{
	list-style-type: none;
	margin: 40px 20px;
	padding-right: 20px;
	float: right;
}
li{
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
}
header{
	background-image: url("http://www.mynameischad.design/uploads/6/4/1/5/64150671/background-images/435781087.gif");
	color: white;
	height: 34em;
	vertical-align: center;
}
.header_color{
	background-color: rgba(224, 127, 30, 0.74);
	width: 100%;
	height: 100%;
}
.header_divs{
	width: 75%;
	padding-top: 15em;
	margin: 0 auto;/* why doesn't this work here but it works for .project?*/
}
.header_txt{
	margin-top: 2em;
	width: 49%;
	display: inline-block;
}
hr{
	border: 1px solid #f0f0f0;
}
.top{
	margin-top: 3em;
}
.project{
	width: 75%;
	margin: 0 auto; 
}
.hero_group{
	width: 49%; /*why can't I use the full 50%?*/
	display: inline-block;
	padding-left: .5%;
}
.heroes{
	width: 100%;
}
.buttons{
	margin: 30px auto;
/*	display: inline; 
 why does this put the buttons to the right of the img?  
And why does it auto-place them below? */
}
.button{
	text-align: center;
	margin: 0 12.25%; /*is there a way to just space these evenly?*/
	padding: 15px 20px;
	background-color: orange;
	border-radius: 5px;
	text-decoration: none;
	color: white;
}
.about{
	width: 75%;
	margin: 0 auto;
}
.footer{
	display: inline-block;
}
.face{
	margin: 10px 0;
}
#me{
	text-align: center;
}
#about_me{
	vertical-align: top;
	margin-top: 24px;
}