body{
	background-color: #ffcccc;
	font-family: helvetica, sans-serif;
	width: 1000px;
	margin: 0 auto;
	font-size: 16px;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	padding: 20px 0;
}
header{
	text-align: center;
}
hr{
	margin: 50px auto;
}
img{
	padding-left: 20px;
	float: right;
}
ul{
	list-style-type: none;
	margin: 0 auto;
	padding-bottom: 20px;
	text-align: center;
}
ul a{
	color: red;
}
li{
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
}
